#input {
    width: 100%;
    position: absolute ;
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
    /* z-index: 1; */
    visibility: hidden;
}

#input>div {
    width: 50%;
    margin-top: 25px;
    text-align: center;
}

#input>div>div:nth-child(2) {
    width: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    border-radius: 5px;
    /* display: block; */
}

#input>div>h3+div>input {
    width: 75%;
    /* padding: 20px; */
    font-size: 25px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 0px 5px 5px 0px;
    outline: none;

    /* webkit to remove up an down arrow from input box of type number */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#input>div>div+div {
    width: 100%;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#input>div>div+div>input {
    background-color: black;
}